### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchases_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
unique_users_df = purchases_data_df['SN'].unique()
count_unique_users = len(unique_users_df)
print(f'Player Count: {count_unique_users}')

Player Count: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items_df = purchases_data_df['Item ID'].unique()
count_unique_items = len(unique_items_df)

average_price = purchases_data_df['Price'].mean()

number_of_purchases = len(purchases_data_df.index)

total_revenue = number_of_purchases * average_price

data_frame_structure = {'Number of Unique Items' : [count_unique_items], 'Average Price' : [average_price], 'Number of Purchases' : [number_of_purchases], 'Total Revenue' : [total_revenue]}
purchasing_analysis_df = pd.DataFrame(data=data_frame_structure)
purchasing_analysis_df = purchasing_analysis_df.style.format(
    {
        'Average Price': "${:.2f}",
        'Total Revenue': '${:.2f}'
    }
)

purchasing_analysis_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male_players = purchases_data_df.loc[purchases_data_df['Gender'] == 'Male']
unique_male_players = male_players['SN'].unique()
count_unique_male_players = len(unique_male_players)

female_players = purchases_data_df.loc[purchases_data_df['Gender'] == 'Female']
unique_female_players = female_players['SN'].unique()
count_unique_female_players = len(unique_female_players)

other_conditonal = (purchases_data_df['Gender'] != 'Male') & (purchases_data_df['Gender'] != 'Female')
other_players = purchases_data_df.loc[other_conditonal]
unique_other_players = other_players['SN'].unique()
count_unique_other_players = len(unique_other_players)

data_frame_structure = {
    'Gender' : ['Male', 'Female', 'Other / Non-Disclosed'],
    'Total Count' : [count_unique_male_players, count_unique_female_players, count_unique_other_players],
    'Percentage of Players' : [(count_unique_male_players/count_unique_users*100),
                               (count_unique_female_players/count_unique_users*100),
                               (count_unique_other_players/count_unique_users*100)
                              ]
}
gender_demographics = pd.DataFrame(data=data_frame_structure)
gender_demographics = gender_demographics.set_index('Gender')
gender_demographics = gender_demographics.style.format({'Percentage of Players': "{:.2f}%"})

gender_demographics


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_groups = purchases_data_df.groupby(['Gender'])
number_of_purchases_by_gender = gender_groups['Purchase ID'].count()

average_purchase_price_by_gender = gender_groups['Price'].mean()

average_purchase_total_per_person = number_of_purchases_by_gender * average_purchase_price_by_gender

purchasing_analysis_by_gender_df = pd.DataFrame()
purchasing_analysis_by_gender_df['Purchase Count'] = number_of_purchases_by_gender
purchasing_analysis_by_gender_df['Average Purchase Price'] = average_purchase_price_by_gender
purchasing_analysis_by_gender_df['Total Purchase Value'] = average_purchase_total_per_person
purchasing_analysis_by_gender_df['Avg Total Purchase per Person'] = 0
purchasing_analysis_by_gender_df = purchasing_analysis_by_gender_df.style.format(
    {
        'Average Purchase Price': "${:.2f}",
        'Total Purchase Value': "${:.2f}",
        'Avg Total Purchase per Person': "${:.2f}"
    }
)

purchasing_analysis_by_gender_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_bins = [0, 9.9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchases_data_df['Age Ranges'] = pd.cut(purchases_data_df['Age'], age_bins, labels=group_names)

removed_dupplicate_users = purchases_data_df.copy()
removed_dupplicate_users = removed_dupplicate_users.sort_values('SN')
removed_dupplicate_users = removed_dupplicate_users.drop_duplicates(subset = 'SN', keep = 'first')

# removed_dupplicate_users["Age Ranges"] = pd.cut(removed_dupplicate_users["Age"], age_bins, labels=group_names)
removed_dupplicate_users = removed_dupplicate_users[['Age Ranges','Age']]
removed_dupplicate_users = removed_dupplicate_users.set_index('Age Ranges')

age_demographics_df = removed_dupplicate_users.groupby(['Age Ranges']).count()
age_demographics_df = age_demographics_df.rename(columns={'Age': 'Total Count'})
age_demographics_df['Percentage of Players'] = age_demographics_df['Total Count']/age_demographics_df['Total Count'].sum()*100
age_demographics_df = age_demographics_df.style.format({'Percentage of Players': "{:.2f}%"})

age_demographics_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchasing_analysis_by_age = purchases_data_df.groupby('Age Ranges').agg(
    {
        'Purchase ID' : 'count',
        'Price' : 'mean',
    }
)
purchasing_analysis_by_age = purchasing_analysis_by_age.rename(columns={"Purchase ID": "Purchase Count", "Price" : "Average Purchase Price"})
purchasing_analysis_by_age['Total Purchase Value'] = purchasing_analysis_by_age['Purchase Count'] * purchasing_analysis_by_age['Average Purchase Price']
purchasing_analysis_by_age['Avg Total Purchase per Person'] = 0
purchasing_analysis_by_age = purchasing_analysis_by_age.style.format(
    {
        'Average Purchase Price': "${:.2f}",
        'Total Purchase Value': "${:.2f}",
        'Avg Total Purchase per Person': "${:.2f}"
    }
)

purchasing_analysis_by_age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
top_spenders_temp_df = purchases_data_df.groupby(['SN']).agg(
    {
        'Purchase ID' : 'count',
        'Price' : 'mean',
    }
)
top_spenders_temp_df = top_spenders_temp_df.rename(
    columns = {
        'Purchase ID' : 'Purchase Count',
        'Price' : 'Average Purchase Price'
    }
)
top_spenders_temp_df['Total Purchase Value'] = top_spenders_temp_df['Purchase Count'] * top_spenders_temp_df['Average Purchase Price']
top_spenders_temp_df = top_spenders_temp_df.sort_values(by=['Total Purchase Value'], ascending=False)
top_spenders_temp_df = top_spenders_temp_df.iloc[0:5]

top_spenders_temp_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80